---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
---
<DashboardLayout title="Reports">
  <div class="container">
    <h1>Reports</h1>
    <p>This page will contain various reports generated from your data.</p>
  </div>
</DashboardLayout>
