---
import Layout from './../../layouts/Layout.astro';
---
<Layout title="Docs">
<body>
  <h1>📚 Documentation</h1>
  <p>The documentation is currently under construction. Please check back later.</p>
  <p><a href="/">Return to the main page</a></p>
</body>
</Layout>
