---
import Layout from './../../layouts/Layout.astro';
---
<Layout title="FAQs">
    <main class="main">
      <h1>Frequently Asked Questions</h1>

      <section class="faq">
        <div class="faq-item">
          <h3>Is my data secure?</h3>
          <p>
            Yes. InsightHunter uses Cloudflare Zero Trust, encryption, and
            secure storage.
          </p>
        </div>

        <div class="faq-item">
          <h3>Can I cancel anytime?</h3>
          <p>Absolutely. There are no contracts or commitments.</p>
        </div>

        <div class="faq-item">
          <h3>Do you offer support?</h3>
          <p>Yes — email, chat, and phone support are available.</p>
        </div>
      </section>
    </main>
</Layout>
