---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Cookie Policy">
  <div class="container">
    <h1>Cookie Policy</h1>

    <p>Last Updated: March 7, 2026</p>

    <p>InsightHunter uses cookies to authenticate users, maintain sessions, improve performance, and analyze usage.</p>

    <p>You may disable cookies in your browser, but some features may not function.</p>
  </div>ch 
</Layout>
