---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not Found">
  <div class="container">
    <h1>404: Page Not Found</h1>
    <p>Sorry, we couldn’t find the page you’re looking for.</p>
    <p>
      <a href="/">Go back home</a>
    </p>
  </div>
</Layout>
<style>
  .container {
    text-align: center;
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  p {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
</style>
